QWidget {
	background-color: #6ACBA9;
}

QMessageBox {
    background-color: #333333;
}


QPushButton::hover {
    background-color: #45E847;
}

QPushButton:pressed {
    background-color: red ;
}


QLineEdit,
QLineEdit:hover {
	border-radius: 5px;
	height: 30px;
	border: 1px solid rgb(50, 50, 50);
	padding-bottom: 2px;
	padding-left: 4px;
	font-size: 16px;
	background-color: rgb(30, 30, 30);
	color: #fafafa;
}

QLineEdit:disabled {
	color: #5A5A5A;
}