QWidget {
    background-color: rgb(91, 159, 159);
}


QPushButton:hover {
	color: #45E847
}

QPushButton:pressed {
	background-color: rgb(109, 161, 89);
}

QMessageBox {
	background: #232323;
	color: #fafafa;
}

QPushButton {    
    color: rgb(30, 30, 30);
	font-size: 16px;
}



QLineEdit,
QLineEdit:hover {
	font-size: 18px;
	background-color: #000000;
	color: #fafafa;
}



